.listing-map-view {
  align-items: flex-start;
  background-color: #fff9f6;
  display: flex;
  flex-direction: column;
  gap: 100px;
  position: relative;
}

.listing-map-view .frame {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.listing-map-view .header-header {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 80.12px;
  justify-content: space-around;
  padding: 19px 120px;
  position: relative;
  width: 100%;
}

.listing-map-view .div {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.listing-map-view .frame-wrapper {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 11px;
  position: relative;
}

.listing-map-view .frame-2 {
  background-image: url(https://c.animaapp.com/YgFSogWj/img/frame-34@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
  width: 135.43px;
}

.listing-map-view .frame-3 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 492px;
}

.listing-map-view .frame-4 {
  align-items: flex-start;
  display: flex;
  gap: 6px;
  position: relative;
  width: 77px;
}

.listing-map-view .text-wrapper {
  color: #191919;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 16px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.listing-map-view .icon-arrow-down {
  height: 16px;
  position: relative;
  width: 16px;
}

.listing-map-view .icon-px-arrow-down {
  height: 16px;
  margin-right: -8px;
  position: relative;
  width: 16px;
}

.listing-map-view .property {
  color: #191919;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 16px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.listing-map-view .frame-5 {
  align-items: center;
  display: flex;
  gap: 40px;
  height: 42px;
  position: relative;
  width: 228px;
}

.listing-map-view .button-anchor-text {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 8px;
  height: 24.01px;
  position: relative;
}

.listing-map-view .img {
  height: 24px;
  position: relative;
  width: 24px;
}

.listing-map-view .icon-after {
  color: #191919;
  flex: 1;
  font-family: "Manrope", Helvetica;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 18px;
  position: relative;
}

.listing-map-view .button-small-v {
  align-items: flex-start;
  background-color: #191919;
  border-radius: 10px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 8px;
  height: 42.01px;
  padding: 13px 24px;
  position: relative;
}

.listing-map-view .text-wrapper-2 {
  color: #ffffff;
  flex: 1;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 16px;
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.listing-map-view .div-wrapper {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  padding: 0px 120px;
  position: relative;
  width: 100%;
}

.listing-map-view .frame-6 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.listing-map-view .find-property {
  align-self: stretch;
  color: #191919;
  font-family: "Manrope", Helvetica;
  font-size: 36px;
  font-weight: 800;
  letter-spacing: -0.72px;
  line-height: 50.4px;
  margin-top: -1px;
  position: relative;
}

.listing-map-view .filter-buttons-wrapper {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: 1108px;
}

.listing-map-view .filter-buttons {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
  width: 100%;
}

.listing-map-view .dropdown-large-v-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 249px;
}

.listing-map-view .dropdown-large-v {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #d6d6d6;
  border-radius: 10px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  padding: 18px 16px;
  position: relative;
  width: 100%;
}

.listing-map-view .inner {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 12px;
  position: relative;
  width: 167px;
}

.listing-map-view .active {
  color: #626262;
  font-family: "Manrope", Helvetica;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 18px;
  margin-right: -21px;
  position: relative;
  width: 188px;
}

.listing-map-view .icon-search {
  height: 24px;
  margin-right: -57px;
  position: relative;
  width: 24px;
}

.listing-map-view .frame-7 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.listing-map-view .inner-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  position: relative;
}

.listing-map-view .text-wrapper-3 {
  color: #626262;
  font-family: "Manrope", Helvetica;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 18px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.listing-map-view .inner-wrapper {
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #d6d6d6;
  border-radius: 10px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  padding: 18px 16px;
  position: relative;
}

.listing-map-view .frame-8 {
  align-items: flex-start;
  display: flex;
  gap: 20px;
  position: relative;
  width: 166px;
}

.listing-map-view .dropdown-large-v-2 {
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #d6d6d6;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 18px 16px;
  position: relative;
  width: 166px;
}

.listing-map-view .inner-3 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  margin-right: -1px;
  position: relative;
}

.listing-map-view .text-field-large {
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #d6d6d6;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 60px;
  overflow: hidden;
  padding: 14px 16px;
  position: relative;
  width: 101px;
}

.listing-map-view .enter-your-address-wrapper {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 193px;
  margin-bottom: -1px;
  margin-right: -102px;
  position: relative;
  width: 171px;
}

.listing-map-view .enter-your-address {
  color: #626262;
  font-family: "Manrope", Helvetica;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 32.4px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.listing-map-view .button-large-v {
  all: unset;
  align-items: flex-start;
  background-color: #191919;
  border-radius: 10px;
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  padding: 20px 16px;
  position: relative;
}

.listing-map-view .inner-4 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.listing-map-view .icon-after-2 {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 18px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.listing-map-view .img-2 {
  height: 20px;
  position: relative;
  width: 20px;
}

.listing-map-view .frame-9 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  padding: 0px 120px;
  position: relative;
  width: 100%;
}

.listing-map-view .frame-10 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-left: -120px;
  margin-right: -120px;
  padding: 0px 120px;
  position: relative;
  width: 1440px;
}

.listing-map-view .frame-11 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 60px;
  position: relative;
}

.listing-map-view .frame-12 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.listing-map-view .featured-propertys {
  color: #191919;
  font-family: "Manrope", Helvetica;
  font-size: 36px;
  font-weight: 800;
  letter-spacing: -0.72px;
  line-height: 50.4px;
  margin-top: -1px;
  position: relative;
  width: 342px;
}

.listing-map-view .button-button {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  height: 24px;
  position: relative;
}

.listing-map-view .active-2 {
  color: #fd650b;
  font-family: "Manrope", Helvetica;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 18px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.listing-map-view .filter-button {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  width: 100%;
}

.listing-map-view .weddings-receptions {
  color: #191919;
  flex: 1;
  font-family: "Manrope", Helvetica;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1px;
  position: relative;
}

.listing-map-view .text-wrapper-4 {
  color: #c4c4c4;
  flex: 1;
  font-family: "Manrope", Helvetica;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1px;
  position: relative;
}

.listing-map-view .frame-13 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 24px;
  height: 512px;
  position: relative;
  width: 100%;
}

.listing-map-view .card {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.listing-map-view .image {
  align-self: stretch;
  height: 260px;
  position: relative;
  width: 100%;
}

.listing-map-view .info-wrapper {
  align-items: flex-start;
  align-self: stretch;
  background-color: #fff9f6;
  border: 1px solid;
  border-color: #ecd6c8;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  margin-bottom: -4px;
  padding: 30px 20px;
  position: relative;
  width: 100%;
}

.listing-map-view .info {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 27px;
  position: relative;
  width: 100%;
}

.listing-map-view .location {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 12px;
  position: relative;
  width: 100%;
}

.listing-map-view .element-ave {
  color: #191919;
  flex: 1;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28.8px;
  margin-top: -1px;
  position: relative;
}

.listing-map-view .frame-14 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 21px;
  position: relative;
  width: 100%;
}

.listing-map-view .div-2 {
  align-items: center;
  display: flex;
  gap: 12px;
  position: relative;
  width: 152px;
}

.listing-map-view .icon {
  background-image: url(https://c.animaapp.com/YgFSogWj/img/3d-box-6.svg);
  background-size: 100% 100%;
  height: 24px;
  position: relative;
  width: 24px;
}

.listing-map-view .element-bed-room {
  color: #626262;
  flex: 1;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 16px;
  position: relative;
}

.listing-map-view .icon-2 {
  background-image: url(https://c.animaapp.com/YgFSogWj/img/key-fill-6.svg);
  background-size: 100% 100%;
  height: 24px;
  position: relative;
  width: 24px;
}

.listing-map-view .element-bath {
  color: #626262;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 16px;
  margin-right: -6px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.listing-map-view .element-bath-2 {
  color: #626262;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 16px;
  margin-right: -4px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.listing-map-view .frame-15 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 31px;
  position: relative;
  width: 100%;
}

.listing-map-view .button-style-small {
  align-items: flex-start;
  background-color: #191919;
  border-radius: 10px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 8px;
  height: 48px;
  padding: 16px 24px;
  position: relative;
}

.listing-map-view .element {
  color: #191919;
  flex: 1;
  font-family: "Manrope", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.48px;
  line-height: 32.4px;
  position: relative;
}

.listing-map-view .element-bath-3 {
  color: #626262;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 16px;
  margin-right: -8px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.listing-map-view .element-bath-4 {
  color: #626262;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 16px;
  margin-right: -2px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.listing-map-view .element-bath-5 {
  color: #626262;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 16px;
  margin-right: -16px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.listing-map-view .element-bath-6 {
  color: #626262;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 16px;
  margin-right: -9px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.listing-map-view .element-bath-7 {
  color: #626262;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 16px;
  margin-right: -7px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.listing-map-view .element-bath-8 {
  color: #626262;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 16px;
  margin-right: -5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.listing-map-view .footer-footer {
  align-items: center;
  align-self: stretch;
  background-color: #ffffff;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  padding: 80px 120px;
  position: relative;
  width: 100%;
}

.listing-map-view .frame-16 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 120px;
  position: relative;
  width: 100%;
}

.listing-map-view .frame-17 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.listing-map-view .frame-18 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 43px;
  position: relative;
  width: 341.67px;
}

.listing-map-view .frame-19 {
  align-items: center;
  display: flex;
  gap: 11px;
  height: 40.01px;
  position: relative;
  width: 341.67px;
}

.listing-map-view .frame-20 {
  background-image: url(https://c.animaapp.com/YgFSogWj/img/frame-34-1@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
  width: 135.43px;
}

.listing-map-view .frame-21 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 28px;
  height: 190px;
  position: relative;
  width: 100%;
}

.listing-map-view .element-bervely-hill-ave {
  align-self: stretch;
  color: #191919;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 25.6px;
  margin-top: -1px;
  position: relative;
  text-decoration: underline;
}

.listing-map-view .frame-22 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.listing-map-view .element-info {
  color: #191919;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 25.6px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.listing-map-view .element-info-2 {
  color: #191919;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 25.6px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.listing-map-view .social-media {
  align-self: stretch;
  flex: 0 0 auto;
  margin-bottom: -29px;
  position: relative;
  width: 100%;
}

.listing-map-view .frame-23 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 77px;
  position: relative;
}

.listing-map-view .div-3 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  position: relative;
}

.listing-map-view .text-wrapper-5 {
  align-self: stretch;
  color: #191919;
  font-family: "Manrope", Helvetica;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1px;
  position: relative;
}

.listing-map-view .frame-24 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 14px;
  position: relative;
  width: 100%;
}

.listing-map-view .home-home {
  align-self: stretch;
  color: #191919;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
}

.listing-map-view .home-v-home-v {
  align-self: stretch;
  color: #191919;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.listing-map-view .home-home-2 {
  color: #191919;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  margin-right: -39.22px;
  position: relative;
  width: 190px;
}

.listing-map-view .home-home-3 {
  color: #191919;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  margin-right: -23.22px;
  position: relative;
  width: 174px;
}

.listing-map-view .frame-25 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 14px;
  height: 170px;
  position: relative;
  width: 100%;
}

.listing-map-view .home-home-4 {
  align-self: stretch;
  color: #191919;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: -5px;
  position: relative;
}

.listing-map-view .frame-26 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 175px;
}

.listing-map-view .static-mania {
  align-self: stretch;
  color: #191919;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 16px;
  position: relative;
}